.section-about-me {
    text-align: center;


}

.section-about-me__inner {
    @media screen and (min-width: 600px) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.section-about-me__image {
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;


}

.section-about-me__text {
    padding: 0 20px
}

.section-about-me__title-text {
    font-size: 25px;
    font-weight: bold;
}

.section-about-me__main-text {
    color: #aea7a7;
    font-size: 20px;
    font-style: italic;
}