.service-item {
    text-align: center;
    position: relative;
    flex-basis: 80%;

    @media screen and (min-width: 570px) and (max-width: 860px) {
        flex-basis: 40%;
    }
}

.service-item:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid #e6b1b1;
}

.service-item__name {
    font-weight: 400;
    line-height: 1.2em;
    font-size: 20px;
    width: fit-content;
    margin: auto;
    background: $primary_pink_color;
    color: white;
    padding: 7px;
    margin-top: 7px;
}

.service-item__cost {
    font-size: 16px;
    color: gray;

}